* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
}

body {
  background-image: url("../src/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
h1 {
  color: #fffff3;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #5c5a5f;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
a {
  color: #314d4a;
}
.btn {
  background-color: #5c5a5f;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #5c5a5f;
}
